.footer {
    height: auto;
    background: var(--nav-bg);
    color: var(--white-color);
    padding: 20px 0;
    text-align: center;
    font-family: "cairo";
  }

  .footer p span{
    color: var(--logo-green);
    margin-left: 5px;
  }
  
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
  }
  
  .copyright svg {
    height: 18px; 
    margin-right: 5px; 
  }
  
  .copyright .year {
    font-size: 15px;
    color: var(--white-color);
  }
  
  .copyright .copyright-symbol{
    font-size: 22px;
    margin-right: 4px;
  }

@media (min-width: 320px) and (max-width: 521px) {
 .footer{
  width: 488px;
 }
}

