@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@600&family=Dancing+Script:wght@700&display=swap');


:root {
  --logo-green: #70ba65;
  --nav-bg:#00283A;
  --body-bg:#02162B;
  --white-color:#fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--body-bg);
}